body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: left;
}

header {
    margin: 0;
    padding: 0;
    text-align: center;
    border-bottom: 3px double;
}

header h1, header h4 {
    margin: 0;
}

#left-column {
    float: left;
    width: 25%;
}

nav {
    margin: 0;
    font-weight: bold;
    border-right: 3px double;
}

nav ul {
    margin: 0;
}

nav li {
    margin: 0;
    display: block;
    padding-top: 4%;
    padding-bottom: 4%;
}

nav a {
    margin: 0;
    text-decoration: none;
    color: grey;
}

nav a:hover {
    text-decoration: underline;
    color: black;
}

nav h3 {
    margin: 0;
    text-align: Center;
    text-decoration: underline;
    font-weight: bold;
    font-style: oblique;
}

#quote {
    font-size: 0.5em;
}

#main-column {
    margin-left: 25%;
    margin-top: 80px;
    padding-left: 1%;
    position: relative;
}

figure {
    display: inline-block;
    margin: 0;
}

figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#diminish {
    width: 90%;
}

figure figcaption {
    text-align: center;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    caption-side: top;
    margin: auto;
}

caption {
    text-align: center;
    font-size: 120%;
}

table, thead th, tbody td {
    text-align: center;
    border: 3px solid;
    padding: 3px;
}

thead th {
    background-color: lightgrey;
    font-size: 115%;
}

form {
    border: 3px solid black;
    background-color: white;
    opacity: 0.7;
    border-radius: 50px;
    width: 50%;
    margin: auto;
    margin-top: 60px;
    padding: 15px;
}

form div {
    padding: 5px;
}

form div label {
    float:left;
    width: 40%;
    text-align: right;
}

form div input, form div textarea {
    margin-left: 10px;
    border: 3px solid black;
    padding: 5px;
    border-radius: 20px;
}

#submit {
    margin-left: 45%;
    font-size: 2em;
}

form div input:hover, textarea:hover, #submit:hover {
    background-color: lightgrey;
    color: black;
}

form div input:focus, textarea:focus, #submit:focus {
    background-color: lightgrey;
    color: black;
}

div h1 {
    text-align: center;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.15;
}

#headfixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

#navfixed {
    position: fixed;
    top: 11.3%;
    left: 0;
    right: 75%;
    background-color: white;
    opacity: 0.6;
}

footer {
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-style: italic;
}

p .center {
    text-align: center;
}

@media only screen and (max-width: 970px){
    #headfixed {
        background-color: white;
    }
    
    #navfixed {
        position: relative;
        background-color: white;
        opacity: 0.6;
    }
    
    #left-column {
        float: none;
        margin: 0;
        width: 100%;
    }
    
    #main-column {
        margin-left: 0;
        width: 100%;
        margin-top: 1%;
    }
    
    table {
        margin: 0;
        width: 100%;
    }
    
    form {
        width: 90%;
        margin: 0;
    }
    
    nav {
        margin: 0;
        margin-top: 70px;
        border: none;
        text-align: center;
        border-bottom: double;
    }
    
    nav li {
        display: inline-block;
        padding: 1%;
    }
}

@media only screen and (max-width: 640px){
    #headfixed {
        background-color: white;
    }
    
    #navfixed {
        position: relative;
        background-color: white;
        opacity: 0.6;
    }
    
    #left-column {
        float: none;
        margin: 0;
        width: 100%;
    }
    
    #main-column {
        margin-left: 0;
        width: 100%;
    }
    
    table {
        margin: 0;
        width: 100%;
    }
    
    form {
        width: 90%;
        margin: 0;
    }
    
    form div label {
        width: 25%;
    }
    
    #submit {
        margin-left: 30%;
    }
    
    nav {
        margin: 0;
        margin-top: 125px;
        border: none;
        text-align: center;
        border-bottom: double;
    }
    
    nav li {
        display: block;
        padding-top: 2.7%;
        padding-bottom: 2.7%;
    }
}